<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Important News</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Relevant news you can trust</span>
    </nav>

    <br>

    <div class="alert alert-success" role="alert">
        <div class= "container" style="text-align:center">
            <h4 class="alert-heading">Location: <%= @location %></h4>
        <hr>
            <p class="mb-0">Longitude: <%= @forecast["longitude"] %> </p>
        <hr>
            <p class="mb-0">Latitude: <%= @forecast["latitude"] %> </p>
        </div>
    </div>

    <br>
   
    <div class="row">
        <div class="col text-center">
                <h2>Weather snapshot</h2>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Temperature</th>
                <th scope="col">Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Today</th>
                <td><%= @forecast["currently"]["temperature"] %></td>
                <td><%= @forecast["currently"]["summary"] %></td>
            </tr>
            <tr>
                <th scope="row">1 day</th>
                <td><%= @forecast["daily"]["data"][0]["temperatureHigh"]%></td>
                <td><%= @forecast["daily"]["data"][0]["summary"] %></td>
            </tr>
            <tr>
                <th scope="row">5 day</th>
                <td><%= @forecast["daily"]["data"][4]["temperatureHigh"]%></td>
                <td><%= @forecast["daily"]["data"][4]["summary"]%></td>
            </tr>
         </tbody>
    </table>

    <br>

    <div class="row">
        <div class="col text-center">
                <h2>Extended forecast for the next 8 days</h2>
        </div>
    </div>

    <div class = "container" style = "text-align:center">
        <% for zebra in @forecast_array %>
            <p><%="A high temperature of #{zebra["temperatureHigh"]} and #{zebra["summary"]}"%></p>
        <% end %> 
    </div>

    <br>
    <br>

    <div class = "container">
        <div class="card">
            <h5 class="card-header">Top news</h5>
                <div class="card-body">
                    <h5 class="card-title"><%= @headlines["articles"][0]["title"]%></h5>
                        <p class="card-text"><%= @headlines["articles"][0]["description"]%></p>
                        <a href=<%= @headlines["articles"][0]["url"]%> class="btn btn-primary">Go to</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= @headlines["articles"][1]["title"]%></h5>
                        <p class="card-text"><%= @headlines["articles"][1]["description"]%></p>
                        <a href=<%= @headlines["articles"][1]["url"]%> class="btn btn-primary">Go to</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= @headlines["articles"][2]["title"]%></h5>
                        <p class="card-text"><%= @headlines["articles"][2]["description"]%></p>
                        <a href=<%= @headlines["articles"][2]["url"]%> class="btn btn-primary">Go to</a>
                </div>
        </div>
    </div>

          

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>