<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>Important News</title>
  </head>
  <body>

    <div class="container mt-5">
        <h1>Geocoding</h1>
            <h2> Location: <%= @location %> </h2>
            <h2> Latitude: <%= @forecast["latitude"] %> </h2>
            <h2> Longitude: <%= @forecast["longitude"] %> </h2>

        <h1>Current Weather</h1>
            <h2> Temperature: <%= @forecast["currently"]["temperature"] %> </h2>
            <h2> Summary: <%= @forecast["currently"]["summary"] %> </h2>

        <h1>5 Day Forecast</h1>
            <h2>1 Day</h2>
                <h2> Temperature: <%= @forecast["daily"]["data"][0]["temperatureHigh"] %> </h2>
                <h2> Summary: <%= @forecast["daily"]["data"][0]["summary"] %> </h2>
            <h2>5 Day</h2>
                <h2> Temperature: <%= @forecast["daily"]["data"][4]["temperatureHigh"] %> </h2>
                <h2> Summary: <%= @forecast["daily"]["data"][4]["summary"] %> </h2>

        <h1> Top Headlines</h1>
            <h2> <%= @headlines["articles"]["title"] %> </h2>

          

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>